Repository bluestar-jp/bluestar-agent-dojo: changes, and which lefthook commands are due for each by the changed paths.
All: markdownlint, verify-standards, validate-plugin, shellcheck, ruff, yamllint

lefthook.yml:

# lefthook.yml
# Git hooks configuration

pre-commit:
  parallel: true
  commands:
    # 1. Markdown Lint
    # Markdownファイルのフォーマットをチェックし、可能な場合は自動修正(--fix)を行う
    markdownlint:
      glob: "*.md"
      run: npx markdownlint-cli2 {staged_files} --fix

    # 2. ベストプラクティス検証 (Verify Best Practices)
    # agents/ および skills/ がプロジェクトの構成基準(CLAUDE_CODE_BEST_PRACTICES)を満たしているか検証
    verify-standards:
      glob: "{agents/*.md,skills/**/SKILL.md,scripts/*.py}"
      run: python3 scripts/verify-best-practices.py

    # 3. プラグイン構造検証 (Validate Plugin)
    # plugin.json の構文チェックや必須ファイルの存在確認
    validate-plugin:
      glob: "{.claude-plugin/*.json,skills/**,agents/**}"
      run: sh scripts/validate-plugin.sh

    # 4. Shell Script Analysis (ShellCheck)
    # シェルスクリプトの静的解析
    shellcheck:
      glob: "*.sh"
      run: shellcheck {staged_files}

    # 5. Python Lint (Ruff)
    # 高速なPythonリンター
    ruff:
      glob: "**/*.py"
      run: ruff check --fix {staged_files}

    # 6. YAML Lint (yamllint)
    # YAMLファイルの構文チェック
    yamllint:
      glob: "*.{yml,yaml}"
      run: yamllint {staged_files}

commit-msg:
  commands:
    # 4. コミットメッセージ規約チェック (Conventional Commits)
    # "feat: ...", "fix: ..." の形式を強制し、履歴の一貫性を保つ
    check-conventional-commits:
      run: |
        if ! grep -qE "^(feat|fix|docs|style|refactor|perf|test|chore|ci|revert)(\(.+\))?: .+" {1}; then
          echo "❌ Error: Commit message must follow Conventional Commits format."
          echo "   Example: 'feat: add new skill' or 'fix: update verification script'"
          echo "   Allowed types: feat, fix, docs, style, refactor, perf, test, chore, ci, revert"
          exit 1
        fi

feat: Add agent and skill review criteria
  agents/deshi-skill-expert.md
  makimono/ryunomaki/guidelines/agent_review_criteria.md
  makimono/toranomaki/procedure/skill_creation_workflow.md
  skills/proc-creating-skills-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin

docs: Update agent and skill best practices guidelines
  makimono/ryunomaki/guidelines/agent_review_criteria.md
  makimono/ryunomaki/guidelines/custom_agent_skill_best_practices.md
Due: markdownlint

fix: 修正
  makimono/ryunomaki/guidelines/agent_review_criteria.md
  makimono/ryunomaki/guidelines/custom_agent_skill_best_practices.md
Due: markdownlint

feat: Add Gemini web search skill
  skills/action-gemini-searching-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin

action-gen-mermaid-skillのv1追加
  skills/action-gen-mermaid-skill/SKILL.md
  skills/action-gen-mermaid-skill/assets/viewer.html
  skills/action-gen-mermaid-skill/scripts/render.sh
Due: markdownlint, verify-standards, validate-plugin, shellcheck

feat: Add blog writing agents, skills, and knowledge base
  agents/deshi-blog-composer.md
  agents/deshi-blog-humanizer.md
  agents/deshi-blog-reviewer.md
  agents/shihan-blog-writing.md
  makimono/ryunomaki/guidelines/blog_humanize_rules.md
  makimono/ryunomaki/guidelines/blog_review_criteria.md
  makimono/ryunomaki/guidelines/blog_writing_best_practices.md
  makimono/ryunomaki/specs/blog_article_output_format.md
  makimono/toranomaki/conditional_instructions/handling_blog_review_feedback.md
  makimono/toranomaki/procedure/blog_writing_workflow.md
  makimono/toranomaki/single_action/blog_paragraph_scaffolding.md
  skills/action-composing-paragraph-skill/SKILL.md
  skills/action-gen-mermaid-skill/SKILL.md
  skills/action-generating-article-skill/SKILL.md
  skills/action-humanizing-article-skill/SKILL.md
  skills/action-publishing-article-skill/SKILL.md
  skills/action-reviewing-article-skill/SKILL.md
  skills/action-revising-article-skill/SKILL.md
  skills/proc-writing-blog-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin

feat: Make model field mandatory for all agents
  CLAUDE.md
  agents/deshi-backend-reviewer.md
  agents/deshi-blackbox-tester.md
  agents/deshi-blog-composer.md
  agents/deshi-blog-humanizer.md
  agents/deshi-blog-reviewer.md
  agents/deshi-experience-tester.md
  agents/deshi-frontend-reviewer.md
  agents/deshi-infrastructure-reviewer.md
  agents/deshi-security-reviewer.md
  agents/deshi-skill-expert.md
  agents/deshi-whitebox-tester.md
  agents/shihan-blog-writing.md
  agents/shihan-code-review.md
  agents/shihan-parallel.md
  agents/shihan-routing.md
  agents/shihan-sequential.md
  agents/shihan-test-design.md
  scripts/verify-best-practices.py
Due: markdownlint, verify-standards, validate-plugin, ruff

fix: ベストプラクティスに準拠するように修正
  agents/deshi-blog-composer.md
  agents/deshi-blog-humanizer.md
  agents/deshi-blog-reviewer.md
  agents/shihan-blog-writing.md
  lefthook.yml
  makimono/ryunomaki/specs/blog_article_output_format.md
  makimono/toranomaki/procedure/blog_writing_workflow.md
  makimono/toranomaki/single_action/blog_paragraph_scaffolding.md
  scripts/verify-best-practices.py
  skills/action-publishing-article-skill/SKILL.md
  skills/proc-writing-blog-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin, ruff, yamllint

feat: Add Claude Code marketplace manifest
  .claude-plugin/marketplace.json
Due: validate-plugin

feat: add marketplace and update management guide with lint fixes
  menkyokaiden/README.md
  scripts/validate-plugin.sh
  skills/proc-menkyokaiden-claude-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin, shellcheck

chore: update marketplace owner name and format
  .claude-plugin/marketplace.json
Due: validate-plugin

fix: CI failures by relaxing claude command check and fixing frontmatter
  scripts/validate-plugin.sh
  skills/action-gen-mermaid-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin, shellcheck

fix: CI workflow versions and add debug output for validation
  .github/workflows/markdown-lint.yml
  .github/workflows/quality-checks.yml
  .github/workflows/verify-best-practices.yml
  scripts/validate-plugin.sh
Due: shellcheck, yamllint

ci: fix YAML and enable debug output
  .github/workflows/quality-checks.yml
  scripts/validate-plugin.sh
Due: shellcheck, yamllint

ci: fix shellcheck and enhance file visibility debug
  scripts/validate-plugin.sh
Due: shellcheck

fix: bash increment bug in validation script causing CI failure
  scripts/validate-plugin.sh
Due: shellcheck

ci: revert workflow versions to v6 and cleanup debug code
  .github/workflows/markdown-lint.yml
  .github/workflows/quality-checks.yml
  .github/workflows/verify-best-practices.yml
  scripts/validate-plugin.sh
Due: shellcheck, yamllint

feat: support YAML multiline syntax in verification script
  .github/workflows/verify-best-practices.yml
  scripts/verify-best-practices.py
  skills/action-gen-mermaid-skill/SKILL.md
Due: markdownlint, verify-standards, validate-plugin, ruff, yamllint

chore: remove Gemini-specific skills from marketplace
  .claude-plugin/marketplace.json
Due: validate-plugin

feat: restore action-gemini-searching-skill to marketplace
  .claude-plugin/marketplace.json
Due: validate-plugin
